extends layout

block content
  div(class='hero-unit')
    h1= title
    p(class='span5').
      Comparte tus historias y de tu localidad, cuentos, noticias de interes, pequemas historias con gran valor
    div(class='btn-group hero offset2 span1')
      button(class='btn btn-info') Ingresa
      button(class='btn btn-info') Registrare