extends layout

block content
  div(class='container-narrow')
    div(class='masthead')
      ul(class='nav nav-pills pull-right')
        li(class='active')
          a(href='#') Historias
        li
          a(href='#') Acerca
      h3(class=" nombre muted") Tu Historia       
        img(class='imagen muted')     

  div(class='row-fluid')
    div(class='span12')
      ul(class="breadcrumb")
        li
          a(href="#", title='15/21/2013 15:20') Evento de
          span(class="divider") /
        li
          a(href="#", title='15/21/2013 15:20') Evento de
          span(class="divider") /
        li
          a(href="#", title='15/21/2013 15:20') Evento de
          span(class="divider") /
        li
          a(href="#", title='15/21/2013 15:20') Evento de
          span(class="divider") /
          
        li
          a(href="#", title='15/21/2013 15:20') Evento de
          span(class="divider") /          
        li
          a(href="#", title='15/21/2013 15:20') Evento de
          span(class="divider") /          
        li
          a(href="#", title='15/21/2013 15:20') Evento de
          span(class="divider") /          
        li
          a(href="#", title='15/21/2013 15:20') Evento de
          span(class="divider") /

  div(class='row-fluid')
    div(id='map', class='span9')
      div(id="map_canvas", style='width:100%; height:100%')
    div(id='post',  class='span3' )
      div(id='h',class='scroll-pane')
      
        div(class='history')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')


        div(class='history', id='1')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')

        div(class='history')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')


        div(class='history')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')
    

        div(class='history')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')


        div(class='history')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')


        div(class='history')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')


        div(class='history')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')


        div(class='history')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')

        div(class='history')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')


        div(class='history')
          h4 Sin titulo
          p historia sin contenido sassas
          span ver
          img(src='#')

  a(href='/salir') SALIR